body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.race-list {
  width: 100%;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(20, 80px);
  grid-template-rows: repeat(12, 100px);
}
.status {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  grid-auto-columns: 100px;
}

.team {
  border: 1px solid #999;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
}

.bib-number {
  width: 100%;
  border: 0px;
  background: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}

.bib-number:hover {
  outline: none;
  background: #ddd;
  cursor: pointer;
}

.laps {
  font-size: 10px;
}

.laps svg {
  margin: 2px;
}
